{% extends 'base.html.twig' %}

{% block body %}
    <div class="container"> 
        <form id="login">
            <div class="header">
                <h2>Logowanie do CRM</h2>
                <br>
                <h3>Login</h3>
                <p>Uzupełnij poniższe pola</p>
            </div>
            <div class="sep"></div>
            <div class="inputs">
                <input type="login" placeholder="Wpisz swój login" autofocus/>
                 <br/>
                <input type="password" placeholder="Hasło" />
                 <br/>
              <button class="bottom" type="submit">Zaloguj się</button>
            </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset( '../css/logowanieStyle.css' ) }}" rel="stylesheet" type="text/css" />
{% endblock %}
