{% extends 'base.html.twig' %}

{% block body %}
<link href="{{ asset( '../css/dashboard.css' ) }}" rel="stylesheet" type="text/css" />
    <div class="container">
            <div class="row mx-md-n5 text-center">
                    <div class="col px-md-5"><div class="p-3 border bg-light">
                        <span>Aktywni klienci </span><br><span class="text-info display-4" id="active-leads"></span>

                    </div></div>
                    <div class="col px-md-5"><div class="p-3 border bg-light">
                            <span>Wszyscy klienci </span><br><span class="text-info display-4" id="all-leads"></span>
                    </div></div>
                  </div>
    </div>
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block javascripts %}

    {# <div id="curve_chart" style="width: 900px; height: 500px"></div> #}

<script>
    var allLeadsLength = {{ allLeads|length }};
    var activeLeadsLength = {{ activeLeads|length }};
</script>
<script src="{{ asset('../js/dashboard.js') }}"></script>
{% endblock %}