{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Dashboard
    </div>
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block javascripts %}
<script>
    var allLeadsLength = {{ allLeads|length }};
    var activeLeadsLength = {{ activeLeads|length }};
</script>
<script src="{{ asset('../js/dashboard.js') }}"></script>
{% endblock %}