{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Klienci:
    </div>
    <br>
    <a href="{{ url('lead_new') }}">Dodaj nowego klienta</a>
{% endblock %}

{% block stylesheets %}
    
{% endblock %}
