.custom-width
{
    width: 23px;
    height: 23px;
    margin-left: 10px;
   
}
#lead_isActive:hover{
    color: black;
    background-color: white;
}

.form-group
{
    color: #007bff;
}
h3
{
    color: blue;
}
#lead_save
{
    background-color: #dc3545;
}
