{% extends 'base.html.twig' %}

{% block body %}

<div>
    {{ form(form) }}
    <a href="{{ url('homepage') }}">Anuluj</a>
    {% if error is defined %}
        <br/>
        {{ error }}
    {% endif %}
</div>
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
