{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-4">
    {{ form(form) }}
    {% if error is defined %}
        <br/>
        {{ error }}
    {% endif %}
</div>
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
