{% extends 'base.html.twig' %}

{% block body %}

<div>
    {% for user in users %}
        {{ user.firstname }} {{ user.lastname }} 
        <a href="{{ url('user_edit', {'id': user.id}) }}">Edytuj</a>
    {% endfor %}
    <br>
    <a href="{{ url('user_new') }}">Dodaj nowego użytkownika</a>
</div>
    
{% endblock %}

{% block stylesheets %}

{% endblock %}


