{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Zaloguj się</h3>
			</div>
			<div class="card-body">
				<form action="{{ path('login') }}" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            {% if error %}
                                <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %} 
                        </div>
     
                     </div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="_username" class="form-control" placeholder="Login">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" name="_password" class="form-control" placeholder="Hasło">
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right btn_normal">
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>



{% endblock %}

{% block stylesheets %}
    <link href="{{ asset( '../css/logowanieStyle.css' ) }}" rel="stylesheet" type="text/css" />
{% endblock %}


